.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9vmax;
}

.login h1 {
    font-size: 2.2vmax;
    z-index: 20;
}

.login > .center {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    min-width: 50%;
}

.login > .center > button {
    background-color: var(--blue-color);
    z-index: 5;
    font-size: 0.7vmax;
}

.login > .textContainer {
    z-index: 5; 
    background-color: rgba(255,255,255,0.85);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

.login > .textContainer > div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(131, 128, 128, 0.386);
    padding-top: 1em;
}

.login > .textContainer > div > button {
    margin-left: 2em;
    padding: 0 1em 0 1em;
    font-size: 0.9vmax;
}

.errorMessage {
    color: rgb(232, 4, 4);
    font-size: 0.6vmax;
}

@media (max-width: 600px) {
    .login {
        margin-left: 20px;
    }
}