.main, .sideBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: var(--text-dark-color);
}

.sideBarContainer {
    z-index: 20;
    display: flex;
}

.sideBar {
  width: 23vw;
  animation: wid 1s ease;
}

.sideBar > div {
    background-color: var(--light-color);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 1em;
    opacity: 1;
    font-size: medium;
    font-weight: 700;
    width: 100%;    
}

.title {
    background-color: inherit;
    color:inherit;
    font-size: x-large;
    font-weight: 1000;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    animation: opac 1s ease-in;
    box-shadow: 2px 2px 2px 2px #ffaa00;
    border-radius: 0.3em;
    text-align: center;
}

.title:hover {
  opacity: 85%;
  text-decoration: none;
}

.title:active {
  box-shadow: 1px 1px 1px 1px rgba(255, 170, 0, 0.801);
  text-decoration: none;
}
  
.sideBarLink {
    color: var(--text-light-color);
    text-decoration: none;
    margin: 0;
    margin-top: 0.5em;
    padding: 1em;
    background-color: var(--dark-color);
    animation: opac 1s ease-in;
    border-radius: 0.3em;
}

.icon {
  vertical-align: middle;
}

.sideBarLink:hover {
  cursor: pointer;
  opacity: 85%;
}

.sideBarLinks > .sideBarLink:nth-child(1) {
    margin-top: 4em;
}
  
.sideBarLinks > .sideBarLink:nth-last-child(1) {
    margin-top: auto;
    vertical-align: middle;
    background-color: var(--blue-color);
}
  
.sideBarContainer > button {
    background-color: rgb(232, 225, 225);
    border: 0;
    border-radius: 0;
    width: 1.3em;
    padding: 2px;
}
  
.sideBar > button:hover, .sideBar > button:focus {
    background-color: rgb(192, 189, 189);
}
  
.sideBarLinks {
    display: flex;
    flex-direction: column;
    /* animation: wid 1s ease; */
}
  
/* .sideBarLinks.active {
    display: none;
} */

.toSide{
    font-size: large;  
    font-weight: bold;  
}

.sideBar.active {
    display: none
}
    
@keyframes wid {
    from{width: 1px;} 
    to{width: 23vw;}
}
  
@keyframes opac {
    from{opacity: 0;} 
    to{opacity: 1;}
}

@media (max-width: 600px) {

    .sideBarContainer {
        position: absolute;
    }

    .sideBar {
        width: 50vw;
        animation: wid 0.2s ease;
    }

    .title {
        background-color: inherit;
        color:inherit;
        font-size: large;
        font-weight: 1000;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        padding: 0.1em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-decoration: none;
        box-shadow: 1px 1px 1px 1px #ffaa00;
        border-radius: 0.3em;
        text-align: center;
    }
    
    .title:hover {
      opacity: 85%;
      text-decoration: none;
    }
    
    .title:active {
      box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 170, 0, 0.801);
      text-decoration: none;
    }
      
    .sideBarLink {
        margin: 0;
        margin-top: 1em;
        padding: 0.5em;
    }

    .sideBarLinks > .sideBarLink:nth-last-child(1) {
        margin-bottom: 3em;
    }
}
